<%- include("./partials/nav.ejs")%>
        <h1>IMDB</h1>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Autem aliquam culpa accusantium placeat repellat unde iure cupiditate 
            dignissimos velit omnis, provident laborum eos similique nihil veniam praesentium. 
            Reprehenderit molestias quibusdam ipsa consectetur quod modi accusamus voluptatibus 
            cupiditate voluptates pariatur in eius, libero est ducimus laudantium, 
            illum adipisci incidunt! Ad necessitatibus vitae consectetur quasi aliquid iure ab 
            veritatis temporibus error numquam. Ad cupiditate, voluptatum fuga nam, distinctio 
            adipisci nostrum soluta quos quidem, sed dolore culpa sit asperiores rem! Ut, 
            molestias quos!
        </p>
    </div>
</body>
</html>